:host {
    --electric-violet: oklch(53.18% 0.28 296.97);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --orange-red: oklch(63.32% 0.24 31.68);
    --gray-400: oklch(70.9% 0.015 304.04);

    --vert-grad: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --hori-grad: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    font-family: "Inter";
  }
  .leaderbords {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin: 3rem;
    text-align: center;
  }
  .left-side,
  .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divider {
    width: 1px;
    background: var(--vert-grad);
    margin-inline: 0.5rem;
  }

  .horizontal-divider {
    height: 1px;
    width: 70%;
    background: var(--hori-grad);
    margin-block: 1.5rem;
    min-width: 300px;
  }

  .check-rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 20px;
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;
  }
  .country-select{
    display: flex;
    min-width: 300px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
}

.leaderboard-template{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;
    font-size: large;
    width: 73%;
    text-align: center;
    min-width: 370px;
}

 .leaderboard-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    height: 450px;
    overflow: scroll;
    scrollbar-width: none;
    padding: 20px;
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;
    font-size: large;
    width: 70%;
    text-align: center;
    min-width: 350px;
 }

  .leaderboard-row{
      display: grid;
      grid-template-columns: 10% 55% 25% 10%;
      grid-gap: 2px;
      grid-template-rows: 2.5rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: rgb(72, 72, 72);
  }
  .leaderboard-row:nth-child(odd){
    background-color:rgb(246, 218, 223);
 }
  .leaderbord-cell{
    width: 10%;
    height: 3rem;
    padding: 5px;
    font-size:large;
  }

  @media screen and (max-width: 760px) {
    .leaderbords {
      flex-direction: column;
      align-items: center;
    }
    .divider {
      height: 1px;
      width: 70%;
      background: var(--hori-grad);
      margin-block: 1.5rem;
    }
  }
