
<main class="main">
  <h1>Leaderboards</h1>
  <div class="leaderbords">
    <div class="left-side">
      <h2>Weekly Leaderboard</h2>
      <div class="horizontal-divider" role="separator" aria-label="Divider"></div>
      <div class="leaderboard-template">
        <div>Rank</div>
        <div>Name</div>
        <div>Score</div>
        <div>Country</div>
      </div>
      <div class="leaderboard-table">
        <div class="leaderboard-row" *ngFor="let entry of currentWeekLeaderboard">
          <div class="leaderboard-cell">{{ entry.Rank }}</div>
          <div class="leaderboard-cell">{{ entry.Name }}</div>
          <div class="leaderboard-cell">{{ entry.Score }}</div>
          <div class="leaderboard-cell">{{ entry.Country }}</div>
        </div>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <h2>Last Week Leaderboard</h2>
      <div class="country-select">
        <p>Select a country: </p>
        <select #countrySelector (change)="getLastWeekLeaderbord(countrySelector.value)">
        <option value=""></option>
        <option value="IN">IN</option>
        <option value="RU">RU</option>
        <option value="DE">DE</option>
        <option value="GB">GB</option>
        <option value="JP">JP</option>
        <option value="ID">ID</option>
        <option value="US">US</option>
        <option value="FR">FR</option>
        <option value="BR">BR</option>
        <option value="GR">GR</option>
        <option value="CN">CN</option>
        <option value="KR">KR</option>
        <option value="IT">IT</option>
        <option value="ES">ES</option>
       </select>
      </div>
      <div class="leaderboard-template">
        <div>Rank</div>
        <div>Name</div>
        <div>Score</div>
        <div>Country</div>
      </div>
      <div class="leaderboard-table">
        <div class="leaderboard-row" *ngFor="let entry of lastWeekLeaderboard">
          <div class="leaderboard-cell">{{ entry.Rank}}</div>
          <div class="leaderboard-cell">{{ entry.Name }}</div>
          <div class="leaderboard-cell">{{ entry.Score }}</div>
          <div class="leaderboard-cell">{{ entry.Country }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="horizontal-divider" role="separator" aria-label="Divider"></div>
  <div class="check-rank">
    <h2>Check your Ranking</h2>
    <p *ngIf="userRank">Your rank is {{userRank.rank}}</p> 
    <input type="text" placeholder="Enter your valid username" [(ngModel)]="userId"/>
    <button (click)="getUserRank()">Check</button>
  </div>
</main>




<router-outlet />
